<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hog2020.ex59recyclerview2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex59RecyclerView2">
<!--   앱버튼으로 돌아가는 액티비티에 android:launchMode="singleTop" 를주지않으면 기존 액티비티를 업애고 다시 새로 만들어서 기존한 작업들이 없어질 수 있음     -->
<!--        <activity android:name=".DetailActivity">android:parentActivityName</activity>-->
        <activity android:name=".DetailActivity"></activity>
        <activity android:name=".MainActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>